@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            background: white;
            font-family: 'Poppins', 'sans-serif';
            box-sizing: content-box;
        }

        #side_nav {
            min-width: 250px;
            max-width: 250px;
            /* box-shadow: black;
            box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); Shadow hanya di sisi kanan */
        }

        .content {
            min-height: 100vh;
            width: 100%;
        }

        .sidebar ul a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 10px;
            transition: background-color 0.3s, padding-left 0.3s;
        }

        .sidebar ul a.active,
        .sidebar ul a:hover {
            background-color: rgb(232, 127, 9);
            padding-left: 20px;
            border-radius: 10px;
            color: black;
        }

        .sidebar ul li {
            margin-top: 1px;
            list-style: none;
        }

        .sidebar ul li:first-child {
            margin-top: 0;
        }

        #orange {
            background-color: rgb(232, 127, 9);
        }

        /* Tambahkan gaya CSS tambahan di sini */
        .profile-dropdown .dropdown-toggle .fa-solid {
            font-size: 2rem; /* Atur ukuran ikon profil di sini */

        }
        .fa-hands {
            font-size: 3rem;
        }
       
        #top_nav {
            /* background-color: #FF8C00; Warna oranye yang lebih terang */
            border-radius: 8px;
            

            
        }

        /* li a {
            border-radius: 12px;
            border: rgb(232, 127, 9);
            } */
        
        